<div class="poker-table">

  <div class="playing-section">
    <!-- opponent hand-->
    <div class="opponent-hand-cards">
      <app-hand [cards]="opponent.cards"></app-hand>
    </div>

    <app-score-board [playerHandValue]="player.value" [opponentHandValue]="opponent.value"></app-score-board>

    <!-- player hand -->
    <div class="player-hand">
      <div class="player-hand-actions">
        <app-actions (cardActionEmitter)="handleCardAction($event)"></app-actions>
      </div>

      <div class="player-hand-cards">
        <app-hand [cards]="player.cards"></app-hand>
      </div>
    </div>
  </div>

</div>
